* {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    color: black;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

body.light #content-box {
    border-color: black;
}


body.light footer a:hover {
    color: black;
}


body.light .big-box {
    border-color: black;
}

body.light svg {
    fill: black;
}

body.light header a {
    color: black;
}

body.light header a:visited {
    color: black;
}

body.light .big-box:hover {
    border: 5px solid rgb(150, 150, 150);
}

body.light header a:hover {
    color: rgb(150, 150, 150)
}

body.light svg:hover {
    fill: rgb(150, 150, 150);
}

body.light header {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
}

.hidden {
    display: none !important;
}

svg {
    fill: white;
}

svg:hover {
    fill: rgb(150, 150, 150);
    cursor: pointer;
}

.head-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 30px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80vw;
    margin: 30px auto 50px;
}

.background-boxes {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw 0;
}

.big-box {
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    width: 38vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-box:hover {
    cursor: pointer;
    border: 5px solid rgb(150, 150, 150);
}

.big-box:hover * {
    color: rgb(150, 150, 150);
}

footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 0 30px 0;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

footer a {
    color: rgb(150, 150, 150);
}

a {
    text-decoration: none;
}

footer a:hover {
    color: white;
}

header a {
    color: white;
}

header a:hover {
    color:rgb(150, 150, 150);
}

#content-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border: 5px solid white;
    border-radius: 10px;
}

.content-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 40px 8px 40px;
    gap: 8px;
}

.content-info h2 {
    width: 100%;
    text-align: center;
}

#close-content {
    text-align: right;
    font-size: 40px;
    padding-right: 15px;
}

#close-content:hover {
    cursor: pointer;
    color: rgb(150, 150, 150);
}

@media (max-width: 800px) {
    body {
        height: 160vh;
    }

    .big-box {
        width: 80vw;
    }

    footer {
        flex-direction: column;
        margin: 0 auto 30px;
    }
}